{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>Inscription</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id': 'register-form'}}) }}
{#        {{ form_widget(form) }}#}

            <div class="form-errors">
                {{ form_errors(form) }}
            </div>

            <div class="margin-20-0">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'width-100'} }) }}
            </div>

            <div class="margin-20-0">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'width-100'} }) }}
            </div>

            {{ form_widget(form.plainPassword, { 'attr': {'class': 'margin-20-0'} }) }}

            <div class="btn-submit">
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>

            <div class="margin-20-0 center">
                <a href="{{ path('fos_user_security_login') }}">Se connecter ?</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock body %}
