<li id="categories-2" class="widget widget_categories">
    <h2 class="widgettitle">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Les catégories</font>
        </font>
    </h2>

    <ul>
        {% for category in categories %}
            <li class="cat-item cat-item-8">
                <a href="{{ path('article_list', { 'category': category.name }) }}">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{ category.name }}</font>
                    </font>
                </a>
            </li>
        {% endfor %}
    </ul>
</li>