{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>A propos</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content full_width">
        <p>&nbsp;</p>
        <div class="post_excerpt ">
            <p></p>
            <blockquote>
                <p>
                    Un blog conçu de A à Z par Ashad Khan sous Symfony 4, dans le cadre d'une formation chez Smile Open Sources Solutions.
                </p>
            </blockquote>
            <p>
                Depuis 1991, Smile est un pionnier de la technologie et également l'expert européen des solutions open source.
            </p>
        </div>
        <div id="attachment_52" style="width: 1270px" class="wp-caption aligncenter">
            <a href="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/15794918936_855690cb09_b1.jpg">
                <img class="wp-image-52 size-full" src="/images/smile/smile.jpg" alt="" width="1260" height="682">
            </a>
            <p class="wp-caption-text">Equipe Smile</p>
        </div>
        <div class="one_half " style="">
            Avec audace et bons projets, ajoutez une pincée de culture visionnaire, une bonne dose d'innovation, saupoudrez le tout d'une expertise technique multidisciplinaire et vous obtiendrez Smile, le leader européen des solutions d'intégration et de sous-traitance open source.
        </div>
        <div class="one_half last " style="">
            Agile, ouvert et engagé, chez Smile, nous aimons avoir une longueur d’avance pour conserver notre position sur le podium des principaux acteurs du monde numérique. Pour ce faire, nous avons développé 4 offres destinées à vous accompagner tout au long de votre transformation numérique: Digital, applications professionnelles, Embedded & IOT et Infra.
        </div>
        <p><br class="clear"></p>

    </div>
{% endblock %}

{% block sidebar %}{% endblock %}