{% extends 'base.html.twig' %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>Contact</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content page_content">
        <div id="reponse_msg">
            <ul>
                {% for response in messages %}
                    <li>{{ response }}</li>
                {% endfor %}
            </ul>
        </div>

        {{ form_start(contactForm, {'action': path('contact'), 'method': 'POST', 'attr': {'id': 'contact-form'}}) }}
            <div class="margin-20-0">
                {{ form_label(contactForm.name) }}
                {{ form_widget(contactForm.name, {'attr': {'id': 'name', 'class': 'width-100'}}) }}
            </div>

            <div class="margin-20-0">
                {{ form_label(contactForm.email) }}
                {{ form_widget(contactForm.email, {'attr': {'id': 'email', 'class': 'width-100'}}) }}
            </div>

            <div class="margin-20-0">
                {{ form_label(contactForm.message) }}
                {{ form_widget(contactForm.message, {'attr': {'id': 'message', 'class': 'width-100'}}) }}
            </div>

            <div class="margin-20-0">
                <input id="contact_submit_btn" class="width-100" type="submit" value="Envoyer">
            </div>

            <div>
                {{ form_errors(contactForm.name) }} <br>
                {{ form_errors(contactForm.email) }} <br>
                {{ form_errors(contactForm.message) }}
            </div>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}