<li id="custom_recent_posts-3" class="widget Custom_Recent_Posts">
    <h2 class="widgettitle">
        <span>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Articles récents
                </font>
            </font>
        </span>
    </h2>
    <ul class="posts blog ">
        {% for article in recentArticles %}
            <li>
                <strong class="title">
                    <a href="{{ path('article_detail', {'id_article': article.id}) }}">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                {{ article.title }}
                            </font>
                        </font>
                    </a>
                </strong>
                <div class="post_attribute">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {{ article.publishDate|date('d/m/Y') }}
                        </font>
                    </font>
                </div>
            </li>
        {% endfor %}
    </ul>
</li>
<li id="custom_popular_posts-6" class="widget Custom_Popular_Posts">
    <h2 class="widgettitle">
        <span>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Commentaires récents
                </font>
            </font>
        </span>
    </h2>
    <ul class="posts blog ">
        {% for recentArticle in recentArticlesByComment %}
            <li>
                <strong class="title">
                    <a href="{{ path('article_detail', {'id_article': recentArticle.id}) }}">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                {{ recentArticle.title }}
                            </font>
                        </font>
                    </a>
                </strong>

                <div class="post_attribute">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {{ recentArticle.comment_publish_date|date('d/m/Y') }}
                        </font>
                    </font>
                </div>
            </li>
        {% endfor %}
    </ul>
</li>