{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>Découvrez <br/> nos formations</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content two_cols mixed">
        <!-- Begin each blog post -->
        <div id="post-79" class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle tag-nature tag-photography tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">
                        {% if mainArticle %}
                        <div class="post_header_title">
                            <h5>
                                <a href="{{ path('article_detail', { 'id_article': mainArticle.id }) }}" title="{{ mainArticle.title }}">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            {{ mainArticle.title }}
                                        </font>
                                    </font>
                                </a>
                            </h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date">
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                {{ mainArticle.publishDate|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy')|upper }}
                                            </font>
                                        </font>
                                    </span>
                                </span>
                            </div>
                            <div class="post_info_cat category-block">
                                <span>
                                    <a>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">{{ mainArticle.category.name }}</font>
                                        </font>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="post_img static">
                            {% set image = images_dir ~ '/' ~ article_default_picture %}

                            {% if mainArticle.image and mainArticle.image.name %}
                                {% set image = articles_dir ~ '/' ~ mainArticle.image.name %}
                            {% endif %}

                            <a href="{{ path('article_detail', { 'id_article': mainArticle.id }) }}">
                                <img src="{{ image }}" alt="" class="" style="width:960px;height:640px;">
                            </a>
                        </div>


                        <br class="clear">

                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    {{ ((mainArticle.content|length) > 850) ? mainArticle.content|slice(0,850) ~ ' ...' : mainArticle.content }}
                                </font>
                            </font>
                        </p>

                        <div class="post_button_wrapper">
                            <a class="readmore" href="{{ path('article_detail', { 'id_article': mainArticle.id }) }}">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Lire la suite
                                    </font>
                                </font>
                            </a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/#respond">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Sans commentaires
                                    </font>
                                </font>
                            </a>
                        </div>
                        <br class="clear">
                        {% endif %}

                        <div class="post_info_cat">
                            <span>
                                <a href="{{ path('article_list') }}">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Les derniers articles</font>
                                    </font>
                                </a>
                            </span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        <!-- End each blog post -->


        {% for key, article in pagination %}
            {% if key%2 == 0 %}
                <div id="post-73" class="post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-movie tag-model tag-photography tag-portrait tag-travel">
            {% else %}
                <div id="post-67" class="post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-food category-music category-top tag-food tag-nature" data-column="last">
            {% endif %}

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            {% set image = images_dir ~ '/' ~ article_default_picture %}

                            {% if article.image and article.image.name %}
                                {% set image = articles_dir ~ '/' ~ article.image.name %}
                            {% endif %}

                            <a href="{{ path('article_detail', { 'id_article': article.id }) }}">
                                <img src="{{ image }}" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>
                        <br class="clear">

                        <div class="post_header_title">
                            <h5>
                                <a href="{{ path('article_detail', { 'id_article': article.id }) }}" title="{{ article.title }}">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{{ article.title }}</font>
                                    </font>
                                </a>
                            </h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date">
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                {{ article.publishDate|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy')|upper }}
                                            </font>
                                        </font>
                                    </span>
                                </span>
                            </div>
                            <div class="post_info_cat category-block">
                                <span>
                                    <a>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">{{ article.category.name }}</font>
                                        </font>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <p>

                        </p>
                        <p class="article-content">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    {{ ((article.content|length) > 260) ? article.content|slice(0,260) ~ ' ...' : article.content }}
                                </font>
                            </font>
                        </p>
                        <p>

                        </p>
                        <div class="post_button_wrapper">
                            <a class="readmore" href="{{ path('article_detail', { 'id_article': article.id }) }}">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Lire la suite
                                    </font>
                                </font>
                            </a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/#respond">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Sans commentaires
                                    </font>
                                </font>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        {% endfor %}
        <!-- End each blog post -->

{#
        <!-- Begin each blog post -->
        <div id="post-67" class="post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-food category-music category-top tag-food tag-nature" data-column="last">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/snow-winter-fallen-trees-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>
                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/" title="Golden Snow Land"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Golden Snow Land</font></font></a></h5>
                            <div class="post_detail post_date">
                            <span class="post_info_date">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    22 juillet 2015			      			</font></font></span>
                            </span>
                            </div>
                        </div>

                        <p></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dosectetur élit adipisicing, sed faire.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus à leo dignissim congue. </font><font style="vertical-align: inherit;">Mauris elementum accumsan leo vel tempor. </font><font style="vertical-align: inherit;">Asseyez-vous amet cursus nisl aliquam. </font><font style="vertical-align: inherit;">Aliquam et elit eu nunc…</font></font></p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lire la suite</font></font></a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/#comments"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1 commentaire</font></font></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-56" class="post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-family tag-nature tag-sport">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/02-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>
                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/" title="Famille vient en premier"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Famille vient en premier</font></font></a></h5>
                            <div class="post_detail post_date">
                            <span class="post_info_date">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    22 juillet 2015			      			</font></font></span>
                            </span>
                            </div>
                        </div>

                        <p></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dosectetur élit adipisicing, sed faire.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus à leo dignissim congue. </font><font style="vertical-align: inherit;">Mauris elementum accumsan leo vel tempor. </font><font style="vertical-align: inherit;">Asseyez-vous amet cursus nisl aliquam. </font><font style="vertical-align: inherit;">Aliquam et elit eu nunc…</font></font></p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/family-comes-first/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lire la suite</font></font></a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/#comments"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1 commentaire</font></font></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-53" class="post-53 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-bridge tag-city tag-travel" data-column="last">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/landscape-nature-water-rocks-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>
                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/" title="Voyager à travers le monde"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voyager à travers le monde</font></font></a></h5>
                            <div class="post_detail post_date">
                            <span class="post_info_date">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    22 juillet 2015			      			</font></font></span>
                            </span>
                            </div>
                        </div>

                        <p></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dosectetur élit adipisicing, sed faire.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus à leo dignissim congue. </font><font style="vertical-align: inherit;">Mauris elementum accumsan leo vel tempor. </font><font style="vertical-align: inherit;">Asseyez-vous amet cursus nisl aliquam. </font><font style="vertical-align: inherit;">Aliquam et elit eu nunc…</font></font></p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lire la suite</font></font></a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/#respond"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sans commentaires</font></font></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-49" class="post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-top category-travel tag-bridge tag-city tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/15794918936_855690cb09_b1-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>
                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/" title="Pont du centre ville"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pont du centre ville</font></font></a></h5>
                            <div class="post_detail post_date">
                            <span class="post_info_date">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    22 juillet 2015			      			</font></font></span>
                            </span>
                            </div>
                        </div>

                        <p></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dosectetur élit adipisicing, sed faire.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus à leo dignissim congue. </font><font style="vertical-align: inherit;">Mauris elementum accumsan leo vel tempor. </font><font style="vertical-align: inherit;">Asseyez-vous amet cursus nisl aliquam. </font><font style="vertical-align: inherit;">Aliquam et elit eu nunc…</font></font></p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lire la suite</font></font></a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/#respond"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sans commentaires</font></font></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-45" class="post-45 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-movie category-travel tag-city tag-travel" data-column="last">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/big-city-light/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/DeathtoStock_NYC11-Custom1-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>
                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/big-city-light/" title="Grande ville lumière"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Grande ville lumière</font></font></a></h5>
                            <div class="post_detail post_date">
                            <span class="post_info_date">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    22 juillet 2015			      			</font></font></span>
                            </span>
                            </div>
                        </div>

                        <p></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dosectetur élit adipisicing, sed faire.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus à leo dignissim congue. </font><font style="vertical-align: inherit;">Mauris elementum accumsan leo vel tempor. </font><font style="vertical-align: inherit;">Asseyez-vous amet cursus nisl aliquam. </font><font style="vertical-align: inherit;">Aliquam et elit eu nunc…</font></font></p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/big-city-light/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lire la suite</font></font></a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/big-city-light/#respond"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sans commentaires</font></font></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->#}

        <div class="pagination flex-none">
            {% if page > 1 %}
                <p class="float-left pagination-link-padding">
                    <a href="{{ path('home', {'page': page - 1}) }}" class="next_button">
                        <i class="fa fa-angle-double-left"></i>
                        Articles récents
                    </a>
                </p>
            {% endif %}

            {% if (pagination.getTotalItemCount > page * limitArticles) %}
            <p class="float-right pagination-link-padding">
                <a href="{{ path('home', {'page': page + 1}) }}" class="prev_button">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Articles anciens
                        </font>
                    </font>
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
