.custom-form-control, #fos_user_registration_form_plainPassword div{
    margin: 20px 0;
}

.custom-form-control input, #fos_user_registration_form_plainPassword input{
    width: 100%;
}

.btn-submit input[type='submit']{
    width: 100%;
}