/*#login-form div{
    margin: 20px 0;
}*/

.custom-form-control input {
    width: 100%;
}

.btn-submit input[type='submit']{
    width: 100%;
}

.label-remember-me{
    width: auto;
    margin-right: 10px;
}

#remember_me{
    margin-top: 5px;
}

.flex-nowwrap {
    display: flex;
    flex-wrap: nowrap;
}

#form-errors{
    color: #ff0000;
}

.flex-grow-2{
    flex-grow: 2;
}
.smile-blog-logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #fff;
}
.width-100 {
    width: 100%;
}

.align-center {
    text-align: center;
}

#login-form .margin-20-0, #register-form .margin-20-0, #resetting-form .margin-20-0, #reset-form .margin-20-0, #contact-form .margin-20-0 {
    margin: 20px 0;
}

#fos_user_registration_form_plainPassword div {
    margin: 20px 0;
}

#fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second {
    width: 100%;
}

.display-none {
    display: none;
}

.flex-none {
    display: block;
}

#page_content_wrapper p.pagination-link-padding {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

#page_content_wrapper p.pagination-link-padding a {
    text-decoration: none;
}

.user_role{
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}