<!DOCTYPE html>

<html lang="fr" class="csstransforms csstransforms3d csstransitions translated-ltr"><head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="format-detection" content="telephone=no">

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://themes.themegoods.com/letsblog/demo/xmlrpc.php">


    <link rel="shortcut icon" href="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/TG-Thumb.png">


    <title>{% block title %}Blog Ashad - Smile{% endblock %}</title>
    <meta name="robots" content="noindex,follow">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Lets Blog |  Thème du blog Wordpress réactif »Flux" href="http://themes.themegoods.com/letsblog/demo/feed/">
    <link rel="alternate" type="application/rss+xml" title="Lets Blog |  Thème du blog Wordpress réactif »Flux de commentaires" href="http://themes.themegoods.com/letsblog/demo/comments/feed/">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/themes.themegoods.com\/letsblog\/demo\/wp-includes\/js\/wp-emoji-release.min.js"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script src="http://themes.themegoods.com/letsblog/demo/wp-includes/js/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="letsblog-reset-css-css" href="{{ asset('build/reset.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-wordpress-css-css" href="{{ asset('build/wordpress.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-animation-css" href="{{ asset('build/animation.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-magnific-popup-css-css" href="{{ asset('build/magnific-popup.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-jquery-ui-css-css" href="{{ asset('build/jquery-custom.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-flexslider-css-css" href="{{ asset('build/flexslider.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-tooltipster-css-css" href="{{ asset('build/tooltipster.css') }}" type="text/css" media="all">
    <!--<link rel="stylesheet" id="letsblog-screen-css-css" href="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/css/screen.css" type="text/css" media="all"> -->
    <link rel="stylesheet" id="letsblog-screen-css-css" href="{{ asset('build/screen.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-fonts-css" href="https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C600%2C700%2C400italic%7CLustria%3A300%2C400%2C600%2C700%2C400italic&amp;subset=latin%2Clatin-ext%2Ccyrillic-ext%2Cgreek-ext%2Ccyrillic" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-fontawesome-css-css" href="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-script-custom-css-css" href="{{ asset('build/custom.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="mc4wp-form-basic-css" href="{{ asset('build/form-basic.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="letsblog-script-responsive-css-css" href="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/css/grid.css" type="text/css" media="all">
    <link rel="stylesheet" id="kirki_google_fonts-css" href="https://fonts.googleapis.com/css?family=Lato%7CLustria&amp;subset" type="text/css" media="all">
    <link rel="stylesheet" id="kirki-styles-global-css" href="{{ asset('build/kirki-styles.css') }}" type="text/css" media="all">
    <style id="kirki-styles-global-inline-css" type="text/css">
        body, input[type=text], input[type=email], input[type=url], input[type=password], textarea{font-family:Lato, Helvetica, Arial, sans-serif;}body{font-size:14px;}h1, h2, h3, h4, h5, h6, h7{font-family:Lato, Helvetica, Arial, sans-serif;font-weight:400;}h1{font-size:34px;}h2{font-size:30px;}h3{font-size:26px;}h4{font-size:22px;}h5{font-size:18px;}h6{font-size:16px;}body, #gallery_lightbox h2, .slider_wrapper .gallery_image_caption h2, .post_info a{color:#000000;}::selection{background-color:#000000;}a{color:#be9656;}a:hover, a:active, .post_info_comment a i{color:#222222;}h1, h2, h3, h4, h5, pre, code, tt, blockquote, .post_header h5 a, .post_header h3 a, .post_header.grid h6 a, .post_header.fullwidth h4 a, .post_header h5 a, blockquote, .site_loading_logo_item i{color:#222222;}#social_share_wrapper, hr, #social_share_wrapper, .post.type-post, .comment .right, .widget_tag_cloud div a, .meta-tags a, .tag_cloud a, #footer, #post_more_wrapper, #page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li.current-menu-item a, .page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li.current-menu-item a, #autocomplete, .page_tagline{border-color:#e1e1e1;}input[type=text], input[type=password], input[type=email], input[type=url], textarea{background-color:#ffffff;color:#000;border-color:#e1e1e1;}input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, textarea:focus{border-color:#000000;}input[type=submit], input[type=button], a.button, .button{font-family:Lato, Helvetica, Arial, sans-serif;background-color:#888888;color:#ffffff;border-color:#888888;}.frame_top, .frame_bottom, .frame_left, .frame_right{background:#222222;}#menu_wrapper .nav ul li a, #menu_wrapper div .nav li > a{font-family:Lato, Helvetica, Arial, sans-serif;font-size:12px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#222222;}#menu_wrapper .nav ul li a.hover, #menu_wrapper .nav ul li a:hover, #menu_wrapper div .nav li a.hover, #menu_wrapper div .nav li a:hover{color:#b38d51;}#menu_wrapper div .nav > li.current-menu-item > a, #menu_wrapper div .nav > li.current-menu-parent > a, #menu_wrapper div .nav > li.current-menu-ancestor > a{color:#b38d51;}.top_bar{background-color:#ffffff;}#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a{font-size:11px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#222222;}.mobile_main_nav li a:hover, .mobile_main_nav li a:active, #sub_menu li a:hover, #sub_menu li a:active, .mobile_menu_wrapper .sidebar_wrapper h2.widgettitle{color:#222222;}#menu_wrapper .nav ul li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li.current-menu-parent ul li a:hover, #menu_wrapper .nav ul li.megamenu ul li ul li a:hover, #menu_wrapper div .nav li.megamenu ul li ul li a:hover, #menu_wrapper .nav ul li.megamenu ul li ul li a:active, #menu_wrapper div .nav li.megamenu ul li ul li a:active{background:#f9f9f9;}#menu_wrapper .nav ul li ul, #menu_wrapper div .nav li ul{background:#ffffff;border-color:#e1e1e1;}#menu_wrapper div .nav li.megamenu ul li > a, #menu_wrapper div .nav li.megamenu ul li > a:hover, #menu_wrapper div .nav li.megamenu ul li > a:active{color:#222222;}#menu_wrapper div .nav li.megamenu ul li{border-color:#eeeeee;}.above_top_bar{background:#222222;}#top_menu li a, .top_contact_info, .top_contact_info i, .top_contact_info a, .top_contact_info a:hover, .top_contact_info a:active{color:#ffffff;}.mobile_menu_wrapper #searchform{background:#ebebeb;}.mobile_menu_wrapper #searchform input[type=text], .mobile_menu_wrapper #searchform button i{color:#222222;}.mobile_menu_wrapper{background-color:#ffffff;}.mobile_main_nav li a, #sub_menu li a{font-family:Lato, Helvetica, Arial, sans-serif;font-size:13px;text-transform:uppercase;letter-spacing:2px;}.mobile_main_nav li a, #sub_menu li a, .mobile_menu_wrapper .sidebar_wrapper a, .mobile_menu_wrapper .sidebar_wrapper, #close_mobile_menu i{color:#666666;}#page_caption{background-color:#f9f9f9;padding-top:40px;padding-bottom:40px;}#page_caption h1{font-size:40px;}#page_caption h1, .post_caption h1{font-weight:400;text-transform:uppercase;letter-spacing:2px;color:#222222;}#page_caption.hasbg{height:450px;}.page_tagline{color:#999999;font-size:11px;font-weight:400;letter-spacing:5px;text-transform:uppercase;}#page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle, h5.widgettitle{font-family:Lato, Helvetica, Arial, sans-serif;font-size:12px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#222222;}#page_content_wrapper .inner .sidebar_wrapper .sidebar .content, .page_content_wrapper .inner .sidebar_wrapper .sidebar .content{color:#444444;}#page_content_wrapper .inner .sidebar_wrapper a, .page_content_wrapper .inner .sidebar_wrapper a{color:#222222;}#page_content_wrapper .inner .sidebar_wrapper a:hover, #page_content_wrapper .inner .sidebar_wrapper a:active, .page_content_wrapper .inner .sidebar_wrapper a:hover, .page_content_wrapper .inner .sidebar_wrapper a:active{color:#999999;}.footer_bar{background-color:#234699;}#footer, #copyright{color:#999999;}#copyright a, #copyright a:active, #footer a, #footer a:active{color:#ffffff;}#copyright a:hover, #footer a:hover, .social_wrapper ul li a:hover{color:#be9656;}.footer_bar_wrapper, .footer_bar{border-color:#444444;}#footer .widget_tag_cloud div a{background:#444444;}.footer_bar_wrapper .social_wrapper ul li a{color:#ffffff;}.post_header:not(.single) h5, body.single-post .post_header_title h1, #post_featured_slider li .slider_image .slide_post h2, #page_content_wrapper .posts.blog li a, .page_content_wrapper .posts.blog li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_entries ul li a, #autocomplete li strong, .post_related strong, #footer ul.sidebar_widget .posts.blog li a, .post_info_comment{font-family:Lustria, Georgia, serif;}.post_header:not(.single) h5, body.single-post .post_header_title h1, #post_featured_slider li .slider_image .slide_post h2, #page_content_wrapper .posts.blog li a, .page_content_wrapper .posts.blog li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_entries ul li a, #autocomplete li strong, .post_related strong, #footer ul.sidebar_widget .posts.blog li a{text-transform:uppercase;letter-spacing:1px;}.post_info_date, .post_attribute, .comment_date, .post-date, #post_featured_slider li .slider_image .slide_post .slide_post_date{font-family:Lustria, Georgia, serif;}.post_info_date{color:#be9656;}.post_info_date:before{border-color:#be9656;}.readmore{color:#be9656;}
    </style>
    <script type="text/javascript" src="{{ asset('themes/letsblog/js/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/letsblog/js/jquery/jquery-migrate.min.js') }}"></script>
    <link rel="https://api.w.org/" href="http://themes.themegoods.com/letsblog/demo/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://themes.themegoods.com/letsblog/demo/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.9.10">
    <style type="text/css" id="wp-custom-css">
        #option_btn
        {
            height: 120px;
        }
    </style>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
    <link rel="stylesheet" id="kirki-styles-global-css" href="{{ asset('build/bootstrap.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="kirki-styles-global-css" href="{{ asset('build/homepage.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="kirki-styles-global-css" href="{{ asset('build/list-articles.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="kirki-styles-global-css" href="{{ asset('build/profile.css') }}" type="text/css" media="all">
    <link rel="stylesheet" id="style-css" href="{{ asset('build/style.css') }}" type="text/css" media="all">
    {% block stylesheets %}{% endblock %}

</head>

<body class="home blog">

<input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="">
<input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="">
<input type="hidden" id="pp_image_path" name="pp_image_path" value="http://themes.themegoods.com/letsblog/demo/wp-content/themes/letsblog/images/">
<input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="http://themes.themegoods.com/letsblog/demo">
<input type="hidden" id="pp_ajax_search" name="pp_ajax_search" value="1">
<input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1">
<input type="hidden" id="pp_topbar" name="pp_topbar" value="">
<input type="hidden" id="pp_page_title_img_blur" name="pp_page_title_img_blur" value="1">
<input type="hidden" id="tg_blog_slider_layout" name="tg_blog_slider_layout" value="slider">
<input type="hidden" id="pp_back" name="pp_back" value="Back">

<input type="hidden" id="pp_footer_style" name="pp_footer_style" value="4">

<!-- Begin mobile menu -->
<div class="mobile_menu_wrapper">
    <a id="close_mobile_menu" href="javascript:;"><i class="fa fa-close"></i></a>

    <form role="search" method="get" name="searchform" id="searchform" action="http://themes.themegoods.com/letsblog/demo/">
        <div>
            <input type="text" value="" name="s" id="s" autocomplete="off" placeholder="Search...">
            <button>
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div id="autocomplete"></div>
    </form>

    <div class="menu-side-mobile-menu-container"><ul id="mobile_main_menu" class="mobile_main_nav"><li id="menu-item-383" class="megamenu col3 menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor menu-item-has-children menu-item-383"><a href="http://themes.themegoods.com/letsblog/demo/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></a>
                <ul class="sub-menu">
                    <li id="menu-item-384" class="hidden menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-384"><a href="http://themes.themegoods.com/letsblog/demo/about/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Disposition 1</font></font></a>
                        <ul class="sub-menu">
                            <li id="menu-item-385" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-385"><a href="http://themes.themegoods.com/letsblog/demo/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Curseur pleine largeur</font></font></a></li>
                            <li id="menu-item-386" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-386"><a href="http://themes.themegoods.com/letsblog/demo/?layout=fullwidth"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Curseur 3 colonnes</font></font></a></li>
                            <li id="menu-item-387" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-387"><a href="http://themes.themegoods.com/letsblog/demo/?layout=fixedwidth"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Curseur de largeur fixe</font></font></a></li>
                            <li id="menu-item-388" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-388"><a href="http://themes.themegoods.com/letsblog/demo/?layout=fullwidth"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pleine largeur</font></font></a></li>
                            <li id="menu-item-389" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389"><a href="http://themes.themegoods.com/letsblog/demo/?layout=list"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">liste</font></font></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-390" class="hidden menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-390"><a href="http://themes.themegoods.com/letsblog/demo/about/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Disposition 2</font></font></a>
                        <ul class="sub-menu">
                            <li id="menu-item-391" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-391"><a href="http://themes.themegoods.com/letsblog/demo/?layout=full_right_sidebar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poteau complet + barre latérale droite de la grille</font></font></a></li>
                            <li id="menu-item-392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392"><a href="http://themes.themegoods.com/letsblog/demo/?layout=full_left_sidebar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poteau complet + grille latérale gauche</font></font></a></li>
                            <li id="menu-item-393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393"><a href="http://themes.themegoods.com/letsblog/demo/?layout=full_fullwidth"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poste complet + grille pleine largeur</font></font></a></li>
                            <li id="menu-item-394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394"><a href="http://themes.themegoods.com/letsblog/demo/?layout=full_list"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Message complet + liste</font></font></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-395" class="hidden menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-395"><a href="http://themes.themegoods.com/letsblog/demo/about/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Disposition 3</font></font></a>
                        <ul class="sub-menu">
                            <li id="menu-item-396" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-396"><a href="http://themes.themegoods.com/letsblog/demo/?layout=right_sidebar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Barre latérale droite</font></font></a></li>
                            <li id="menu-item-397" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-397"><a href="http://themes.themegoods.com/letsblog/demo/?layout=left_sidebar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Barre latérale de gauche</font></font></a></li>
                            <li id="menu-item-398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-398"><a href="http://themes.themegoods.com/letsblog/demo/?layout=2cols"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Grille 2 colonnes</font></font></a></li>
                            <li id="menu-item-399" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-399"><a href="http://themes.themegoods.com/letsblog/demo/?layout=3cols"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Grille 3 colonnes</font></font></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-400"><a href="http://themes.themegoods.com/letsblog/demo/top-10-ingredients/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Messages simples</font></font></a>
                <ul class="sub-menu">
                    <li id="menu-item-401" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-401"><a href="http://themes.themegoods.com/letsblog/demo/top-10-ingredients/?layout=right_sidebar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poteau latéral droit</font></font></a></li>
                    <li id="menu-item-402" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-402"><a href="http://themes.themegoods.com/letsblog/demo/top-10-ingredients/?layout=fullwidth"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poteau pleine largeur</font></font></a></li>
                    <li id="menu-item-403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a href="http://themes.themegoods.com/letsblog/demo/top-10-ingredients/?layout=left_sidebar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poteau de la barre latérale gauche</font></font></a></li>
                    <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-404"><a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Galerie Post</font></font></a></li>
                    <li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-405"><a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Message vidéo</font></font></a></li>
                    <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-406"><a href="http://themes.themegoods.com/letsblog/demo/big-city-light/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Poste de musique</font></font></a></li>
                </ul>
            </li>
            <li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-407"><a href="http://themes.themegoods.com/letsblog/demo/page-fullwidth/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Des pages</font></font></a>
                <ul class="sub-menu">
                    <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"><a href="http://themes.themegoods.com/letsblog/demo/page-fullwidth/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Page pleine largeur</font></font></a></li>
                    <li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="http://themes.themegoods.com/letsblog/demo/page-right-sidebar/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Page de barre latérale droite</font></font></a></li>
                    <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="http://themes.themegoods.com/letsblog/demo/page-left-sidebar/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Page de barre latérale gauche</font></font></a></li>
                    <li id="menu-item-411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411"><a href="http://themes.themegoods.com/letsblog/demo/page-background-header/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Background Header Page</font></font></a></li>
                    <li id="menu-item-412" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-has-children menu-item-412"><a href="http://themes.themegoods.com/letsblog/demo/galleries/blog-post-gallery/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Galerie</font></font></a>
                        <ul class="sub-menu">
                            <li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-413"><a href="http://themes.themegoods.com/letsblog/demo/galleries/gallery-2-columns/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Galerie 2 Colonnes</font></font></a></li>
                            <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-414"><a href="http://themes.themegoods.com/letsblog/demo/galleries/gallery-3-columns/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Galerie 3 Colonnes</font></font></a></li>
                            <li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-415"><a href="http://themes.themegoods.com/letsblog/demo/galleries/gallery-4-columns/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Galerie 4 Colonnes</font></font></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416"><a href="http://themes.themegoods.com/letsblog/demo/typography/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Typographie</font></font></a></li>
                </ul>
            </li>
            <li id="menu-item-417" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-417"><a href="http://themes.themegoods.com/letsblog/demo/category/travel/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Catégorie</font></font></a></li>
            <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="http://themes.themegoods.com/letsblog/demo/about/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sur</font></font></a></li>
            <li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="http://themes.themegoods.com/letsblog/demo/contact-me/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contactez moi</font></font></a></li>
            <li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-420"><a href="http://themes.themegoods.com/letsblog/demo/theme-support-updates/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Caractéristiques</font></font></a>
                <ul class="sub-menu">
                    <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="http://themes.themegoods.com/letsblog/demo/theme-support-updates/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Support thématique et mises à jour</font></font></a></li>
                    <li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422"><a href="http://themes.themegoods.com/letsblog/demo/demo-content-import/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Importation de contenu de démonstration</font></font></a></li>
                    <li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423"><a href="http://themes.themegoods.com/letsblog/demo/10-slider-and-blog-layouts-combinations/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20+ modèles de curseurs et de blogs</font></font></a></li>
                    <li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="http://themes.themegoods.com/letsblog/demo/277-2/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Options de poteau unique flexibles</font></font></a></li>
                    <li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="http://themes.themegoods.com/letsblog/demo/custom-sidebar/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sidebar personnalisé</font></font></a></li>
                    <li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="http://themes.themegoods.com/letsblog/demo/theme-customizer/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Personnalisateur de thème</font></font></a></li>
                    <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://themes.themegoods.com/letsblog/demo/instant-search/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Recherche instantanée</font></font></a></li>
                    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="http://themes.themegoods.com/letsblog/demo/side-menu/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Menu latéral</font></font></a></li>
                    <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="http://themes.themegoods.com/letsblog/demo/google-mobile-friendly/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Mobile Friendly</font></font></a></li>
                    <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="http://themes.themegoods.com/letsblog/demo/theme-admin/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thème Admin</font></font></a></li>
                    <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="http://themes.themegoods.com/letsblog/demo/shortcodes/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shortcodes</font></font></a></li>
                </ul>
            </li>
        </ul></div>
    <!-- Begin side menu sidebar -->
    <div class="page_content_wrapper">
        <div class="sidebar_wrapper">
            <div class="sidebar">

                <div class="content">

                    <ul class="sidebar_widget">
                        <li id="text-8" class="widget widget_text"><h2 class="widgettitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">À propos de moi</font></font></h2>
                            <div class="textwidget"><p><img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/photography_2.jpg" alt="" style="margin-bottom:10px;"><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            Commodo ligula eget dolor. </font><font style="vertical-align: inherit;">Massa Aenean. </font><font style="vertical-align: inherit;">Cum sociis natoque penatibus.</font></font></p>
                                <div style="text-align:center;margin-top:10px;"><img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/signature.png" style="width:50%;height: auto;"></div>
                            </div>
                        </li>
                        <li id="custom_instagram-6" class="widget Custom_Instagram"><h2 class="widgettitle"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Instagram</font></font></span></h2><ul class="flickr"><li><a target="_blank" href="https://www.instagram.com/p/Bhn0rThDfOo/"><img src="https://scontent.cdninstagram.com/vp/94e37c617c12db569eb6fb4bff064511/5D2C67BF/t51.2885-15/e15/s150x150/30076312_2057139651228414_8955780928475496448_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0mN3DHxP/"><img src="https://scontent.cdninstagram.com/vp/2573155125c50644ded9b4cc61b5327a/5D395F4B/t51.2885-15/e15/s150x150/30591194_219528078802776_8442942265462095872_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0kDnj9xJ/"><img src="https://scontent.cdninstagram.com/vp/5452fbe363bfbbeb5e1de9efc8b71a85/5D329A4E/t51.2885-15/e15/s150x150/30601726_589584008071390_6626412841488351232_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0eAujxw0/"><img src="https://scontent.cdninstagram.com/vp/e143ec7b6912e0e45973288cc7418577/5D2D8A3B/t51.2885-15/e15/s150x150/30079328_235005097058307_1414458517279997952_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0YGRjjCd/"><img src="https://scontent.cdninstagram.com/vp/d884e46d79d6e23b39e8765194441259/5D35A331/t51.2885-15/e15/s150x150/30830906_371768236655648_8218516935617282048_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0WAbD1R4/"><img src="https://scontent.cdninstagram.com/vp/b7b61799e5357f241d2ea131473371b4/5D43FB48/t51.2885-15/e15/s150x150/30592069_195795361037410_5639195040631750656_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0UeWDHv7/"><img src="https://scontent.cdninstagram.com/vp/79f4f22473b8f83aedc47f3395c73ccd/5D30BE37/t51.2885-15/e15/s150x150/30605138_166132187438895_8357504701540859904_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0QyqjQAD/"><img src="https://scontent.cdninstagram.com/vp/d9ab694af996c72af63a1f3789274aff/5D37CCB9/t51.2885-15/e15/s150x150/30084493_377913302690811_1929625671043121152_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li><li><a target="_blank" href="https://www.instagram.com/p/Bhn0PF4jFfs/"><img src="https://scontent.cdninstagram.com/vp/773aef8ea9492a18bdb4d1a558588d6a/5D4B247D/t51.2885-15/e15/s150x150/30084652_1737914732936842_334353965518946304_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt=""></a></li></ul><br class="clear"></li>
                        <li id="social_profiles_posts-8" class="widget Social_Profiles_Posts"><h2 class="widgettitle"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suivez-moi sur</font></font></span></h2><div class="textwidget"><div class="social_wrapper shortcode light small"><ul><li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li><li class="twitter"><a target="_blank" title="Gazouillement" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li><li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li><li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/themegoodsphotography"><i class="fa fa-instagram"></i></a></li></ul></div></div></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <!-- End side menu sidebar -->
</div>
<!-- End mobile menu -->

<!-- Begin template wrapper -->
<div id="wrapper" style="padding-top: 60px;">

    {% block caption %}
    {% endblock caption %}

    <div class="header_style_wrapper">
        <!-- End top bar -->

        <div class="top_bar scroll">

            <!-- Begin logo -->
{#            <div id="logo_wrapper">
                <div class="social_wrapper">
                    <ul>
                        <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a target="_blank" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                        <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/themegoodsphotography"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- Begin right corner buttons -->
                <div id="logo_right_button">

                    <!-- Begin search icon -->
                    <a href="javascript:;" id="search_icon" style="display: none;"><i class="fa fa-search"></i></a>
                    <!-- End side menu -->

                    <!-- Begin search icon -->
                    <a href="javascript:;" id="mobile_nav_icon" style="display: none;"></a>
                    <!-- End side menu -->

                </div>
                <!-- End right corner buttons -->

                <div id="logo_normal" class="logo_container">
                    <div class="logo_align">
                        <a id="custom_logo" class="logo_wrapper default" href="http://themes.themegoods.com/letsblog/demo" style="">
                            <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/images/logo@2x.png" alt="" width="251" height="143">
                        </a>
                    </div>
                </div>
                <!-- End logo -->
            </div>#}

            <div id="menu_wrapper">
                <div id="nav_wrapper">
                    <div class="nav_wrapper_inner">
                        <div id="menu_border_wrapper">
                            <div class="menu-main-menu-container">
                                <ul id="main_menu" class="nav">
                                    <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                        <a href="{{ path('home') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Accueil</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li id="menu-item-382" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arrow menu-item-382">
                                        <a href="{{ path('article_list') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Articles</font>
                                            </font>
                                        </a>
                                        {{ render(controller(
                                            'App\\Controller\\CategoryController::menuList'
                                        )) }}
                                    </li>
                                    <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                        <a href="{{ path('about') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">A propos</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                        <a href="{{ path('contact') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Contact</font>
                                            </font>
                                        </a>
                                    </li>
                                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                            <a href="{{ path('fos_user_registration_register') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Inscription</font>
                                                </font>
                                            </a>
                                        </li>
                                        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                            <a href="{{ path('fos_user_security_login') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Connexion</font>
                                                </font>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                            <a href="{{ path('profile') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Profil</font>
                                                </font>
                                            </a>
                                        </li>

                                        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                                            <a href="{{ path('fos_user_security_logout') }}" style="padding-top: 15px; padding-bottom: 15px;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Deconnexion</font>
                                                </font>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End main nav -->
            </div>
        </div>
    </div>
{#    <div id="post_featured_slider" class="slider_wrapper" style="height: 400px;">
        <div class="flexslider" data-height="550">

        </div>
        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1600%; transition-duration: 0s; transform: translate3d(-1822px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 1822px; float: left; display: block;">
                    <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/33dca3b1ecb01a7d-2012_WeAre-TheRhoads_oct_KinfolkVol5_10_o.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Beauté de la nature</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;" class="flex-active-slide">
                    <a href="http://themes.themegoods.com/letsblog/demo/top-10-ingredients/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/1.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Top 10 des ingrédients</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;">
                    <a href="http://themes.themegoods.com/letsblog/demo/big-city-light/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/DeathtoStock_NYC11-Custom1.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Grande ville lumière</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;">
                    <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/15794918936_855690cb09_b1.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pont du centre ville</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;">
                    <a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/snow-winter-fallen-trees.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Golden Snow Land</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;">
                    <a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/photography_2.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mannequin shoot</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;">
                    <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/33dca3b1ecb01a7d-2012_WeAre-TheRhoads_oct_KinfolkVol5_10_o.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Beauté de la nature</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width: 1822px; float: left; display: block;" class="clone" aria-hidden="true">
                    <a href="http://themes.themegoods.com/letsblog/demo/top-10-ingredients/">
                        <div class="slider_image" style="background-image: url(&quot;http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/1.jpg&quot;); height: 400px;">
                            <div class="slide_post" style="opacity: 0.394286;">
                                <div class="slide_post_date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 juillet 2015</font></font></div>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Top 10 des ingrédients</font></font></h2>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="flex-direction-nav">
            <li>
                <a class="flex-prev" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">précédent</font>
                    </font>
                </a>
            </li>
            <li>
                <a class="flex-next" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Suivant</font>
                    </font>
                </a>
            </li>
        </ul>
    </div>#}
    <div id="page_content_wrapper">
        <div class="inner">

            <!-- Begin main content -->
            <div class="inner_wrapper">

                {% block body %} {% endblock %}

                {% block sidebar %}
                    <div class="sidebar_wrapper">
                        <div class="sidebar">
                            <div class="content">

                                <ul class="sidebar_widget">

                                    {% block sidebar_categories %}
                                        {{ render(controller(
                                            'App\\Controller\\CategoryController::sidebarList'
                                        )) }}
                                    {% endblock sidebar_categories %}

                                    <li id="text-2" class="widget widget_text">
                                        <h2 class="widgettitle">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">À propos de moi</font>
                                            </font>
                                        </h2>
                                        <div class="textwidget">
                                            <p class="align-center">
                                                <img src="{{ asset('images/ashad2.jpg') }}" alt="" style="margin-bottom:10px; width: 60%; height: 200px"><br>
                                                <h5 class="align-center">Ashad Khan</h5>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Développeur web Symfony chez Smile Open Sources Solutions
                                                    </font>
                                                </font>
                                            </p>
                                        </div>
                                    </li>
                                    <!--<li id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget"><h2 class="widgettitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Abonnez-vous à ma newsletter</font></font></h2>
                                        <script>(function() {
                                                if (!window.mc4wp) {
                                                    window.mc4wp = {
                                                        listeners: [],
                                                        forms    : {
                                                            on: function (event, callback) {
                                                                window.mc4wp.listeners.push({
                                                                    event   : event,
                                                                    callback: callback
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            })();
                                        </script>
                                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-437 mc4wp-form-basic" method="post" data-id="437" data-name="Default sign-up form">
                                            <div class="mc4wp-form-fields">
                                                <p>
                                                    <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required="">
                                                </p>

                                            <p>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                <input type="submit" value="Souscrire">
                                                            </font>
                                                        </font>
                                                    </font>
                                                </font>
                                            </p>
                                        </div>
                                        <label style="display: none !important;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Laissez ce champ vide si vous êtes humain: </font>
                                            </font>
                                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
                                        </label>
                                        <input type="hidden" name="_mc4wp_timestamp" value="1555401349">
                                        <input type="hidden" name="_mc4wp_form_id" value="437">
                                        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                                        <div class="mc4wp-response"></div>
                                    </form>
                                </li>-->
                                <!--<li id="custom_instagram-2" class="widget Custom_Instagram">
                                    <h2 class="widgettitle">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Instagram</font>
                                            </font>
                                        </span>
                                    </h2>
                                    <ul class="flickr">
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0rThDfOo/">
                                                <img src="https://scontent.cdninstagram.com/vp/94e37c617c12db569eb6fb4bff064511/5D2C67BF/t51.2885-15/e15/s150x150/30076312_2057139651228414_8955780928475496448_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0mN3DHxP/">
                                                <img src="https://scontent.cdninstagram.com/vp/2573155125c50644ded9b4cc61b5327a/5D395F4B/t51.2885-15/e15/s150x150/30591194_219528078802776_8442942265462095872_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0kDnj9xJ/">
                                                <img src="https://scontent.cdninstagram.com/vp/5452fbe363bfbbeb5e1de9efc8b71a85/5D329A4E/t51.2885-15/e15/s150x150/30601726_589584008071390_6626412841488351232_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0eAujxw0/">
                                                <img src="https://scontent.cdninstagram.com/vp/e143ec7b6912e0e45973288cc7418577/5D2D8A3B/t51.2885-15/e15/s150x150/30079328_235005097058307_1414458517279997952_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0YGRjjCd/">
                                                <img src="https://scontent.cdninstagram.com/vp/d884e46d79d6e23b39e8765194441259/5D35A331/t51.2885-15/e15/s150x150/30830906_371768236655648_8218516935617282048_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0WAbD1R4/">
                                                <img src="https://scontent.cdninstagram.com/vp/b7b61799e5357f241d2ea131473371b4/5D43FB48/t51.2885-15/e15/s150x150/30592069_195795361037410_5639195040631750656_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0UeWDHv7/">
                                                <img src="https://scontent.cdninstagram.com/vp/79f4f22473b8f83aedc47f3395c73ccd/5D30BE37/t51.2885-15/e15/s150x150/30605138_166132187438895_8357504701540859904_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0QyqjQAD/">
                                                <img src="https://scontent.cdninstagram.com/vp/d9ab694af996c72af63a1f3789274aff/5D37CCB9/t51.2885-15/e15/s150x150/30084493_377913302690811_1929625671043121152_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/p/Bhn0PF4jFfs/">
                                                <img src="https://scontent.cdninstagram.com/vp/773aef8ea9492a18bdb4d1a558588d6a/5D4B247D/t51.2885-15/e15/s150x150/30084652_1737914732936842_334353965518946304_n.jpg?_nc_ht=scontent.cdninstagram.com" width="75" height="75" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                    <br class="clear">
                                </li>-->
                                <!--<li id="social_profiles_posts-3" class="widget Social_Profiles_Posts"><h2 class="widgettitle"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suivez-moi sur</font></font></span></h2><div class="textwidget"><div class="social_wrapper shortcode light small"><ul><li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li><li class="twitter"><a target="_blank" title="Gazouillement" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li><li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li><li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/themegoodsphotography"><i class="fa fa-instagram"></i></a></li></ul></div></div></li>-->
                                <!--<li id="custom_ads-2" class="widget Custom_Ads"><img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/images/banner300x250.png" alt=""></li>-->
                            </ul>

                        </div>

                    </div>
                    <br class="clear">
                </div>
                {% endblock %}
            </div>
            <!-- End main content -->
        </div>
    </div>

    <br class="clear">
    <div class="footer_photostream_wrapper">
        <ul class="footer_photostream">
            <li style="background-image:url({{ asset('images/smile/accueil.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/baby-foot.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/game.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/pause.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/ping-pong.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/work.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/reunion.jpg') }});"></li>
            <li style="background-image:url({{ asset('images/smile/cahier.jpg') }});"></li>
        </ul>
    </div>

    <div class="footer_bar   ">

        <div id="footer" class="">
            <ul class="sidebar_widget four">
                <li id="text-7" class="widget widget_text">
                    <div class="textwidget">
                        <p class="smile-blog-logo">
                            Smile Blog
                        </p>
                    </div>
                </li>
                <li id="mc4wp_form_widget-7" class="widget widget_mc4wp_form_widget">
                    <h2 class="widgettitle">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Abonnement</font>
                        </font>
                    </h2>
                    <script>(function() {
                            if (!window.mc4wp) {
                                window.mc4wp = {
                                    listeners: [],
                                    forms    : {
                                        on: function (event, callback) {
                                            window.mc4wp.listeners.push({
                                                event   : event,
                                                callback: callback
                                            });
                                        }
                                    }
                                }
                            }
                        })();
                    </script><!-- MailChimp for WordPress v4.2.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                    <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-437 mc4wp-form-basic" method="post" data-id="437" data-name="Default sign-up form">
                        <div class="mc4wp-form-fields">
                            <p>
                                <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required="">
                            </p>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                <input type="submit" value="Souscrire">
                                            </font>
                                        </font>
                                    </font>
                                </font>
                            </p>
                        </div>
                        <label style="display: none !important;">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Laissez ce champ vide si vous êtes humain:
                                </font>
                            </font>
                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
                        </label>
                        <input type="hidden" name="_mc4wp_timestamp" value="1555401359">
                        <input type="hidden" name="_mc4wp_form_id" value="437">
                        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2">
                        <div class="mc4wp-response">

                        </div>
                    </form><!-- / MailChimp for WordPress Plugin -->
                </li>
                {{ render(controller(
                    'App\\Controller\\DefaultController::footerArticles'
                )) }}
            </ul>
        </div>
        <br class="clear">

        <div class="footer_bar_wrapper ">
            <div class="menu-footer-menu-container">
                <ul id="footer_menu" class="footer_nav">
                    <li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-152">
                        <a href="{{ path('home') }}">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Accueil
                                </font>
                            </font>
                        </a>
                    </li>
                    <li id="menu-item-153" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153">
                        <a href="{{ path('article_list') }}">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Articles
                                </font>
                            </font>
                        </a>
                    </li>
                    <li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156">
                        <a href="{{ path('about') }}">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    A propos
                                </font>
                            </font>
                        </a>
                    </li>
                    <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155">
                        <a href="{{ path('contact') }}">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Contactez moi
                                </font>
                            </font>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="copyright">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        © 2019 Smile Blog - Ashad Khan
                    </font>
                </font>
            </div>
            <br class="clear">
        </div>
    </div>
</div>

<div id="overlay_background">
</div>

{#<div id="option_wrapper" style="right: 8px;">
    <div class="inner">
        <div style="text-align:center">
            <a target="_blank" href="http://themeforest.net/item/lets-blog-responsive-blog-wordpress-theme/12340419?ref=ThemeGoods&amp;license=regular&amp;open_purchase_for_item_id=12340419&amp;purchasable=source&amp;ref=ThemeGoods" class="button buy"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ACHETEZ CE THÈME MAINTENANT!</font></font></a>
            <br><br><hr>
            <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DÉMOS DE THÈMES</font></font></h6>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Lets Blog is so theme vous permet de créer facilement votre propre style de blog et site de magazine. </font><font style="vertical-align: inherit;">Voici des exemples pouvant être importés en un clic.</font></font></p>
            <ul class="demo_list">
                <li>
                    <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/cache/demos/screen1.jpg" alt="">
                    <div class="demo_thumb_hover_wrapper">
                        <div class="demo_thumb_hover_inner">
                            <div class="demo_thumb_desc">
                                <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Classique</font></font></h6>
                                <a href="http://themes.themegoods.com/letsblog/demo" target="_blank" class="button white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lancement</font></font></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/cache/demos/screen2.jpg" alt="">
                    <div class="demo_thumb_hover_wrapper">
                        <div class="demo_thumb_hover_inner">
                            <div class="demo_thumb_desc">
                                <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Curseur 3 colonnes</font></font></h6>
                                <a href="http://themes.themegoods.com/letsblog/demo/?layout=fullwidth" target="_blank" class="button white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lancement</font></font></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/cache/demos/screen3.jpg" alt="">
                    <div class="demo_thumb_hover_wrapper">
                        <div class="demo_thumb_hover_inner">
                            <div class="demo_thumb_desc">
                                <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Grille sans cadre</font></font></h6>
                                <a href="http://themes.themegoods.com/letsblog/demo/?layout=3cols&amp;frame=noframe" target="_blank" class="button white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lancement</font></font></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/cache/demos/screen4.jpg" alt="">
                    <div class="demo_thumb_hover_wrapper">
                        <div class="demo_thumb_hover_inner">
                            <div class="demo_thumb_desc">
                                <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mise en boîte</font></font></h6>
                                <a href="http://themes.themegoods.com/letsblog/demo/?layout=fullwidth&amp;frame=noframe&amp;boxed=1" target="_blank" class="button white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lancement</font></font></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/cache/demos/screen5.jpg" alt="">
                    <div class="demo_thumb_hover_wrapper">
                        <div class="demo_thumb_hover_inner">
                            <div class="demo_thumb_desc">
                                <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Classique avec Top Menu</font></font></h6>
                                <a href="http://themes.themegoods.com/letsblog/demo/?topbar=1" target="_blank" class="button white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lancement</font></font></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/themes/letsblog/cache/demos/screen6.jpg" alt="">
                    <div class="demo_thumb_hover_wrapper">
                        <div class="demo_thumb_hover_inner">
                            <div class="demo_thumb_desc">
                                <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Menu simple</font></font></h6>
                                <a href="http://themes.themegoods.com/letsblog/demo/?menu=1&amp;frame=noframe" target="_blank" class="button white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lancement</font></font></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>#}
{#<div id="option_btn" style="right: 250px;">
    <a href="javascript:;" class="demotip" title="Choisir une démo à thème"><i class="fa fa-cog"></i></a>
    <!-- a href="http://themegoods.theme-demo.net/letsblogresponsiveblogwordpresstheme" class="demotip" title="Try Before You Buy" target="_blank"><i class="fa fa-edit"></i></a -->
    <a href="http://themes.themegoods.com/letsblog/doc/" class="demotip" title="Documentation thématique" target="_blank"><i class="fa fa-book"></i></a>
    <a href="http://themeforest.net/item/lets-blog-responsive-blog-wordpress-theme/12340419?ref=ThemeGoods&amp;license=regular&amp;open_purchase_for_item_id=12340419&amp;purchasable=source&amp;ref=ThemeGoods" title="Thème d'achat" class="demotip" target="_blank"><i class="fa fa-shopping-cart"></i></a>
</div>#}

<div class="frame_top"></div>
<div class="frame_bottom"></div>
<div class="frame_left"></div>
<div class="frame_right"></div>

<script>(function() {function addEventListener(element,event,handler) {
        if(element.addEventListener) {
            element.addEventListener(event,handler, false);
        } else if(element.attachEvent){
            element.attachEvent('on'+event,handler);
        }
    }function maybePrefixUrlField() {
        if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
            this.value = "http://" + this.value;
        }
    }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if( urlFields && urlFields.length > 0 ) {
            for( var j=0; j < urlFields.length; j++ ) {
                addEventListener(urlFields[j],'blur',maybePrefixUrlField);
            }
        }/* test if browser supports date fields */
        var testInput = document.createElement('input');
        testInput.setAttribute('type', 'date');
        if( testInput.type !== 'date') {

            /* add placeholder & pattern to all date fields */
            var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
            for(var i=0; i<dateFields.length; i++) {
                if(!dateFields[i].placeholder) {
                    dateFields[i].placeholder = 'YYYY-MM-DD';
                }
                if(!dateFields[i].pattern) {
                    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                }
            }
        }

    })();</script><link rel="stylesheet" id="letsblog-frame-css-css" href="{{ asset('build/frame.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ asset('themes/letsblog/js/magnific-popup.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/easing.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/waypoints.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/isotope.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/tooltipster.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/custom_plugins.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/wp-embed.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/flexslider.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/slider-flexslider.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/letsblog/js/demo.js') }}"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type="text/javascript" src="{{ asset('build/forms-api.js') }}"></script>
<!--[if lte IE 9]>
<script type='text/javascript' src="{{ asset('build/placeholders.js') }}"></script>
<![endif]-->

<script type="text/javascript" src="{{ asset('build/bootstrap.js') }}"></script>

{% block javascripts %}{% endblock %}

<div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Traduction"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Texte d'origine</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Proposer une meilleure traduction</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div><!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Object Caching 0/566 objects using disk
Page Caching using disk: enhanced
Content Delivery Network via themegoodsthemes-pzbycso8wng.stackpathdns.com

Served from: themes.themegoods.com @ 2019-04-16 07:55:59 by W3 Total Cache
--><div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body></html>