{% extends 'base.html.twig' %}

{% block title %}Articles by category{% endblock %}

{% block caption %}
    <div id="page_caption" class="  ">

        <div class="page_title_wrapper">
            <div class="page_title_inner">
                <h1>Art</h1>
            </div>
        </div>

    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content full_width three_cols">

        <!-- Begin each blog post -->
        <div id="post-79" class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle tag-nature tag-photography tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/33dca3b1ecb01a7d-2012_WeAre-TheRhoads_oct_KinfolkVol5_10_o-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>

                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/" title="Beauty of Nature">Beauty of Nature</a></h5>
                            <div class="post_detail post_date">
			      		<span class="post_info_date">
			      			<span>
			       				July 22, 2015			      			</span>
			      		</span>
                            </div>
                        </div>

                        <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/">Read More</a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/#respond">No Comment</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-73" class="post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-movie tag-model tag-photography tag-portrait tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/photography_2-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>

                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/" title="Fashion Model Shoot">Fashion Model Shoot</a></h5>
                            <div class="post_detail post_date">
			      		<span class="post_info_date">
			      			<span>
			       				July 22, 2015			      			</span>
			      		</span>
                            </div>
                        </div>

                        <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/">Read More</a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/#respond">No Comment</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-67" class="post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-food category-music category-top tag-food tag-nature" data-column="last">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/snow-winter-fallen-trees-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>

                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/" title="Golden Snow Land">Golden Snow Land</a></h5>
                            <div class="post_detail post_date">
			      		<span class="post_info_date">
			      			<span>
			       				July 22, 2015			      			</span>
			      		</span>
                            </div>
                        </div>

                        <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/">Read More</a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/#comments">1 Comment</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-56" class="post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-family tag-nature tag-sport">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/02-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>

                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/" title="Family Comes First">Family Comes First</a></h5>
                            <div class="post_detail post_date">
			      		<span class="post_info_date">
			      			<span>
			       				July 22, 2015			      			</span>
			      		</span>
                            </div>
                        </div>

                        <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/family-comes-first/">Read More</a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/#comments">1 Comment</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-53" class="post-53 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-bridge tag-city tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/landscape-nature-water-rocks-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>

                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/" title="Travel the world">Travel the world</a></h5>
                            <div class="post_detail post_date">
			      		<span class="post_info_date">
			      			<span>
			       				July 22, 2015			      			</span>
			      		</span>
                            </div>
                        </div>

                        <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/">Read More</a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/#respond">No Comment</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-49" class="post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-top category-travel tag-bridge tag-city tag-travel" data-column="last">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header">

                        <div class="post_img static">
                            <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/15794918936_855690cb09_b1-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>

                        <br class="clear">

                        <div class="post_header_title">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/" title="City Center Bridge">City Center Bridge</a></h5>
                            <div class="post_detail post_date">
			      		<span class="post_info_date">
			      			<span>
			       				July 22, 2015			      			</span>
			      		</span>
                            </div>
                        </div>

                        <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>			    <div class="post_button_wrapper">
                            <a class="readmore" href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/">Read More</a>
                        </div>

                        <div class="post_info_comment">
                            <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/#respond">No Comment</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End each blog post -->

        <div class="pagination three_cols"><p><a href="http://themes.themegoods.com/letsblog/demo/category/art/page/2/" class="prev_button" "="">Older Posts<i class="fa fa-angle-double-right"></i></a></p></div>

    </div>
{% endblock %}

{% block sidebar %}{% endblock %}