{% extends 'base.html.twig' %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>{{ article.title }}</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content">
        <div class="post_header">
            <div class="post_header_title">
                <h1>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{ article.title }}</font>
                    </font>
                </h1>
                <div class="post_detail post_date">
                    <span class="post_info_date">
                        <span>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
{#                                    {{ article.publishDate|date('d F Y') }}#}
                                    {{ article.publishDate|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy')|upper }}
                                </font>
                            </font>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Begin each blog post -->
        <div id="post-73" class="post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-movie tag-model tag-photography tag-portrait tag-travel">
            <div class="post_wrapper">
                <div class="post_content_wrapper">
                    <div class="post_header single">
                        <div id="attachment_34" style="width: 1450px" class="wp-caption alignleft">
                            {% set image = images_dir ~ '/' ~ article_default_picture %}

                            {% if article.image and article.image.name %}
                                {% set image = articles_dir ~ '/' ~ article.image.name %}
                            {% endif %}

                            <img class="size-full wp-image-34" src="{{ image }}" alt="Travelling all around the world." width="1440" height="960">
{#                            <p class="wp-caption-text">
                                Travelling all around the world.
                            </p>#}
                        </div>
                        <p>
                            {{ article.content }}
                        </p>
                    </div>

                    <div class="post_excerpt post_tag">
                        <i class="fa fa-tags"></i>
{#                        <a href="http://themes.themegoods.com/letsblog/demo/tag/model/" rel="tag">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    modèle
                                </font>
                            </font>
                        </a>
                        <a href="http://themes.themegoods.com/letsblog/demo/tag/photography/" rel="tag">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    photographie
                                </font>
                            </font>
                        </a>
                        <a href="http://themes.themegoods.com/letsblog/demo/tag/portrait/" rel="tag">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    portrait
                                </font>
                            </font>
                        </a>#}
                        {% for tag in article.articleTags %}
                            <a rel="tag">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        {{ tag.name }}
                                    </font>
                                </font>
                            </a>
                        {% endfor %}
                        <br>
                    </div>

                    <div id="post_share_text" class="post_share_text">
                        <i class="fa fa-share"></i>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Partager
                            </font>
                        </font>
                    </div>
                    <br class="clear">

                    <div class="post_info_cat">
                        <span>
                            <a href="http://themes.themegoods.com/letsblog/demo/category/art/">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        {{ article.category.name }}
                                    </font>
                                </font>
                            </a>
                        </span>
                    </div>
                    <br class="clear">

                    {% for comment in comments %}
                        <div id="about_the_author">
                            <div class="gravatar">
                                {% set picture = images_dir ~ '/' ~ user_default_picture %}
                                {% if comment.user.picture and comment.user.picture.name %}
                                    {% set picture = comment.user.picture.webPath %}
                                {% endif %}

                                <img alt="" src="{{ asset(picture) }}" srcset="http://1.gravatar.com/avatar/db6f032dce962144efc9b625779461a1?s=400&amp;d=mm&amp;r=g 2x" class="avatar avatar-200 photo picture">
                            </div>
                            <div class="author_detail">
                                <div class="author_content">
                                    <strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                {{ comment.user.fullname }}
                                            </font>
                                            <span class="user_role">
                                                {% for role in comment.user.roles if role == 'ROLE_ADMIN' or role == 'ROLE_SUPER_ADMIN' %}
                                                    (Administrateur)
                                                {% endfor %}
                                            </span>
                                        </font>
                                        <br>
                                    </strong>
                                    <font style="vertical-align: inherit;">
                                        {{ comment.content }}
                                    </font>
                                    <div class="post_attribute">
                                        <font style="vertical-align: inherit; float: right">
                                            {{ comment.publishDate|date('d/m/Y') }}
                                        </font>
                                    </div>
                                </div>
                            </div>
                            <br class="clear">
                        </div>
                    {% endfor %}

{#                    <h2 class="widgettitle">
                        <span class="content_title">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    vous pourriez aussi aimer
                                </font>
                            </font>
                        </span>
                    </h2>
                    <div class="post_related">
                        <div class="one_third ">
                            <!-- Begin each blog post -->
                            <div id="post-79" class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle tag-nature tag-photography tag-travel">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small static">
                                        <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/">
                                            <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/33dca3b1ecb01a7d-2012_WeAre-TheRhoads_oct_KinfolkVol5_10_o-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                                        </a>
                                    </div>


                                    <div class="blog_grid_content">
                                        <div class="post_header grid">
                                            <strong>
                                                <a href="http://themes.themegoods.com/letsblog/demo/beauty-of-nature/" title="Beauté de la nature">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            Beauté de la nature
                                                        </font>
                                                    </font>
                                                </a>
                                            </strong>
                                            <div class="post_attribute">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        22 juillet 2015
                                                    </font>
                                                </font>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End each blog post -->
                        </div>
                        <div class="one_third ">
                            <!-- Begin each blog post -->
                            <div id="post-53" class="post-53 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-bridge tag-city tag-travel">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small static">
                                        <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/">
                                            <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/landscape-nature-water-rocks-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                                        </a>
                                    </div>

                                    <div class="blog_grid_content">
                                        <div class="post_header grid">
                                            <strong>
                                                <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/" title="Voyager à travers le monde">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            Voyager à travers le monde
                                                        </font>
                                                    </font>
                                                </a>
                                            </strong>
                                            <div class="post_attribute">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        22 juillet 2015
                                                    </font>
                                                </font>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- End each blog post -->
                        </div>
                        <div class="one_third last">
                            <!-- Begin each blog post -->
                            <div id="post-49" class="post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-top category-travel tag-bridge tag-city tag-travel">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small static">
                                        <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/">
                                            <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/15794918936_855690cb09_b1-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                                        </a>
                                    </div>

                                    <div class="blog_grid_content">
                                        <div class="post_header grid">
                                            <strong>
                                                <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/" title="Pont du centre ville">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            Pont du centre ville
                                                        </font>
                                                    </font>
                                                </a>
                                            </strong>
                                            <div class="post_attribute">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        22 juillet 2015
                                                    </font>
                                                </font>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- End each blog post -->
                        </div>
                    </div>#}
                </div>

            </div>

        </div>
        <!-- End each blog post -->

        <div class="fullwidth_comment_wrapper sidebar">
            <h2 class="widgettitle">
                <span class="content_title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Laisser un commentaire
                        </font>
                    </font>
                </span>
            </h2>
            <br class="clear">

            <div id="respond">
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Laisser un commentaire
                            </font>
                        </font>
                        <small>
                            <a rel="nofollow" id="cancel-comment-reply-link" href="/letsblog/demo/fashion-model-shooting/#respond" style="display:none;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Annuler la réponse.
                                    </font>
                                </font>
                            </a>
                        </small>
                    </h3>

                    {{ form_start(commentForm, {'action': path('article_detail', {'id_article': article.id}), 'method': 'POST', 'attr': {'class': 'comment-form', 'id': 'commentform'} }) }}
{#                        <p class="comment-notes">
                            <span id="email-notes">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Votre adresse email ne sera pas publiée.
                                    </font>
                                </font>
                            </span>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Les champs obligatoires sont marqués
                                </font>
                            </font>
                            <span class="required">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        *
                                    </font>
                                </font>
                            </span>
                        </p>#}
                        <p class="comment-form-comment">
                            {{ form_label(commentForm.content) }}
                            {{ form_widget(commentForm.content, {'attr': {'id': 'comment', 'cols': '45', 'rows': '8', 'maxlength': '65525'} }) }}
                        </p>

                        {% if not app.user %}
                            <p class="comment-form-email">
                                {{ form_label(commentForm.email) }}
                                {{ form_widget(commentForm.email, {'attr': {'id':'email', 'placeholder': 'Email*', 'size': '30', 'required': 'required'} }) }}
                            </p>
                            <p class="comment-form-email">
                                {{ form_label(commentForm.password) }}
                                {{ form_widget(commentForm.password, {'attr': {'id':'password', 'placeholder': 'Mot de passe*', 'size': '30', 'required': 'required'} }) }}
                            </p>
                            <div class="clear"></div>
                        {% endif %}

                        <p class="form-submit">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    <input name="submit" type="submit" id="submit" class="submit" value="Poster un commentaire">
                                </font>
                            </font>
                            <input type="hidden" name="comment_post_ID" value="73" id="comment_post_ID">
                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                        </p>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}