{% extends 'base.html.twig' %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>Nos formations</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content">

        {% for article in pagination %}
        <!-- Begin each blog post -->
        <div id="post-79" class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle tag-nature tag-photography tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            {% set image = images_dir ~ '/' ~ article_default_picture %}

                            {% if article.image and article.image.name %}
                                {% set image = articles_dir ~ '/' ~ article.image.name %}
                            {% endif %}

                            <a href="{{ path('article_detail', { 'id_article': article.id }) }}">
                                <img src="{{ image }}" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="{{ path('article_detail', { 'id_article': article.id }) }}" title="{{ article.title }}">{{ article.title }}</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">{{ article.publishDate|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy')|upper }}</span>

                            </div>
                            <div class="post_info_cat category-block alignleftside">
                                <span class="no-padding">
                                    <a>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">{{ article.category.name }}</font>
                                        </font>
                                    </a>
                                </span>
                            </div>
                            <p></p><p>{{ ((article.content|length) > 260) ? article.content|slice(0,260) ~ ' ...' : article.content }}</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        {% endfor %}
        <!-- End each blog post -->


        <!-- Begin each blog post -->
{#        <div id="post-73" class="post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-movie tag-model tag-photography tag-portrait tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            <a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/photography_2-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/fashion-model-shooting/" title="Fashion Model Shoot">Fashion Model Shoot</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">July 22, 2015</span>

                            </div>
                            <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-67" class="post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-food category-music category-top tag-food tag-nature">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            <a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/snow-winter-fallen-trees-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/golden-snow-land/" title="Golden Snow Land">Golden Snow Land</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">July 22, 2015</span>

                            </div>
                            <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-56" class="post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-family tag-nature tag-sport">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            <a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/02-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/family-comes-first/" title="Family Comes First">Family Comes First</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">July 22, 2015</span>

                            </div>
                            <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-53" class="post-53 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-lifestyle category-travel tag-bridge tag-city tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            <a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/landscape-nature-water-rocks-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/travel-all-around-the-world/" title="Travel the world">Travel the world</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">July 22, 2015</span>

                            </div>
                            <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-49" class="post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-lifestyle category-top category-travel tag-bridge tag-city tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            <a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/15794918936_855690cb09_b1-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/city-center-bridge/" title="City Center Bridge">City Center Bridge</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">July 22, 2015</span>

                            </div>
                            <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">
        <!-- End each blog post -->


        <!-- Begin each blog post -->
        <div id="post-45" class="post-45 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-movie category-travel tag-city tag-travel">

            <div class="post_wrapper">

                <div class="post_content_wrapper">

                    <div class="post_header search">

                        <div class="post_img static one_third">
                            <a href="http://themes.themegoods.com/letsblog/demo/big-city-light/">
                                <img src="http://themegoodsthemes-pzbycso8wng.stackpathdns.com/letsblog/demo/wp-content/uploads/2015/07/DeathtoStock_NYC11-Custom1-700x529.jpg" alt="" class="" style="width:700px;height:529px;">
                            </a>
                        </div>


                        <div class="post_header_title two_third last">
                            <h5><a href="http://themes.themegoods.com/letsblog/demo/big-city-light/" title="Big City Light">Big City Light</a></h5>
                            <div class="post_detail post_date">
                                <span class="post_info_date search">July 22, 2015</span>

                            </div>
                            <p></p><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc …</p><p></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br class="clear">#}
        <!-- End each blog post -->


        <div class="pagination flex-none">
            {% if page > 1 %}
                <p class="float-left pagination-link-padding">
                    <a href="{{ path('article_list', {'page': page - 1, 'category': categoryName}) }}" class="next_button">
                        <i class="fa fa-angle-double-left"></i>
                        Articles récents
                    </a>
                </p>
            {% endif %}

            {% if (pagination.getTotalItemCount > page * limitArticles) %}
                <p class="float-right pagination-link-padding">
                    <a href="{{ path('article_list', {'page': page + 1, 'category': categoryName}) }}" class="prev_button">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Articles anciens
                            </font>
                        </font>
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}