
.portfolio_nav { display:none; }
.top_bar.fixed
{
    position: fixed;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    z-index: 999;
    visibility: visible !important;
    top: 0px;
}

.top_bar.fixed #menu_wrapper div .nav
{
    margin-top: 16px;
}

.top_bar.fixed #searchform
{
    margin-top: 8px;
}

.top_bar.fixed .header_cart_wrapper
{
    margin-top: 21px;
}

.top_bar.fixed #menu_wrapper div .nav > li > a
{
    padding-bottom: 24px;
}

.top_bar.fixed .logo_wrapper img
{
    max-height: 40px;
    width: auto;
}


.above_top_bar .page_content_wrapper
{
    padding: 0 12px 0 12px;
    box-sizing: border-box;
}

#option_btn
{
    position: fixed;
    top: 217px;
    right: 8px;
    cursor:pointer;
    z-index: 9;
    background: #fff;
    border-right: 0;
    width: 50px;
    height: 160px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

#option_btn i
{
    font-size: 20px;
    line-height: 40px;
    color: #000;
}

#option_btn a
{
    display: block;
}

#option_wrapper
{
    position: fixed;
    top: 0;
    right:-260px;
    width: 250px;
    height: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-left: 0;
    z-index: 99999;
    color: #888;
    font-size: 12px;
    box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

#option_wrapper:hover
{
    overflow-y: auto;
}

#option_wrapper .button.buy
{
    width: 100%;
    box-sizing: border-box;
}

#option_wrapper select
{
    width: 100%;
    margin-top: 5px;
}

#option_wrapper .note_icon
{
    color: #ff3e36;
    margin-right: 5px;
}

strong.label, div.label
{
    font-weight: normal;
    margin-bottom: 5px;
    color: #000;
    display: block;
}

.demo_list
{
    list-style: none;
    display: block;
    margin: 15px 0 20px 0;
}

.demo_list li
{
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.demo_list li img
{
    max-width: 220px;
    height: auto;
    line-height: 0;
}

.demo_list li:hover img
{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -moz-filter: blur(2px);
}

.demo_list li:hover .demo_thumb_hover_wrapper
{
    opacity: 1;
}

.demo_thumb_hover_wrapper
{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    visibility: visible;
    width: 100%;
    line-height: normal;
}

.demo_thumb_hover_inner
{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.demo_thumb_desc
{
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#option_wrapper .inner h6
{
    margin: 10px 0 0 0;
}

.demo_thumb_hover_inner h6
{
    color: #fff !important;
    line-height: 20px;
}

.demo_thumb_desc .button.white
{
    margin-top: 10px;
    font-size: 12px !important;
}

.demo_thumb_desc .button.white:hover
{
    background: #fff !important;
    color: #000 !important;
    border-color: #fff !important;
}

#option_wrapper .inner
{
    padding: 25px 15px 0 15px;
    box-sizing: border-box;
}


@media only screen and (max-width: 768px) {
    html[data-menu=leftmenu] .mobile_menu_wrapper
    {
        right: 0;
        left: initial;

        -webkit-transform: translate(360px, 0px);
        -ms-transform: translate(360px, 0px);
        transform: translate(360px, 0px);
        -o-transform: translate(360px, 0px);
    }
}

body.page-id-138 #page_content_wrapper .inner
{
    margin-top: 0;
}

#post_featured_slider
{
    background: transparent;
}

body.page-template-portfolio-3-containen-classic-php .one_third.gallery3 img
{
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

body.page-template-portfolio-3-containen-classic-php .one_third.gallery3.classic a, body.page-template-portfolio-3-containen-classic-php .one_third.gallery3.static
{
    overflow: visible;
}

.mc4wp-form-basic input[type=email]
{
    width:100%;
    text-align: center;
}

#commentform label
{
    display: inline-block;
}

.comment-form-cookies-consent
{
    margin-bottom: 20px;
}


